/* ----------- Fondo de día ----------- */
.bg-day {
  min-height: 100vh;
  background: linear-gradient(to bottom, #d5f5ff, #abe7ff, #fef9c3);
  transition: background 1.5s ease-in-out;
}

/* ----------- Fondo de noche ----------- */
.bg-night {
  min-height: 100vh;
  background: linear-gradient(to bottom, #615A9E, #835A9E , #9E5A97 );
  transition: background 1.5s ease-in-out;
  position: relative;
  overflow: hidden;
  --text-color: #ffddeb;
}

body, h1 {
  color: var(--text-color);
}

/* ----------- Estrellas ----------- */
.bg-night::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: url('/stars.png') repeat;
  opacity: 0.25;
  animation: starsMove 60s linear infinite;
}

@keyframes starsMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-200px, -200px);
  }
}

.bg-day,
.bg-night {
  min-height: 100vh;
  width: 100%;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
}

